{% extends "base.html" %}
{% block title %}Identify{% endblock %}
{% block content %}
<div id="identify">
    <h1 class="display-2 landingHeading fade-Down poppins">Identify Ocular Diseases...</h1> 
    <br>
    <h2 class="text-muted poppins fade-Up landingSubheader">Select An Image to Get Started</h2>
</div>
{% endblock %}

{% block contentTwo %}
<div class="predictSection fade-Left">
    <div class="custom-upload-div">
        <label for="file-field" class="custom-file-upload">
            Custom Upload
        </label> 
        <button class="getStarted" onclick="run()">Predict</button>
        <input type="file" id="file-field" onchange="previewImage(event)" class="title" hidden>  
    </div>
    <img src="{{ url_for('static', filename='images/upload.png')}}" id="image-field" crossorigin="anonymous" width="512px" height="512px" alt="Image Preview">
    <div id="chartDiv">
        <canvas id="myChart" width="400" height="400"></canvas>
    </div>
</div>
{% endblock %}

{% block contentThree %}
<div id="result" class="fade-Right">
    <h1 id="result">Results</h1>
</div>
{% endblock %}

{% block script %}
<script>
var ctx = document.getElementById('myChart');
var myBarChart = new Chart(ctx, {
    type: 'bar',
    data: {
        labels: ['Red', 'Blue', 'Yellow', 'Green', 'Purple', 'Orange'],
        datasets: [{
            label: 'Ocular Disease Predictions',
            data: [12, 19, 3, 5, 2, 3],
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    },
    options: {}
});
</script>
{% endblock %}